@media print {
  body {
    color:       black;
    background:  white;
    margin:      0cm 0cm 0cm 0cm;
  }

  h1, h2, h3, th, td {
    color:       black;
    background:  white;
  }
}

@media screen, print {
  * {
    font-family:  Helvetica, sans-serif;
  }

  body {
    color:       black;
    background:  white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight:  bold;
  }

  a:link {
  }

  a:visited {
  }

  a:hover {
    background:  #00008B; /* DarkBlue */
    color:       white;
  }

  a:active {
  }

  h1 {
    color:           Maroon;
    background:      white;
    text-align:      center;
  }

  h2.leftmenu {
    text-align:      left;
  }

  h2.rightmenu {
    color:           Black;
    text-align:      left;
  }

  h2 {
    color:       Maroon;
    background:  white;
  }

  h3 {
    color:        Maroon;
    background:   white;
    font-style:   italic;
  }

  th {
    color:        #20B2AA; /* LightSeaGreen */
    background:   white;
    font-weight:  bold;
  }

  dt {
    font-weight:  bold;
  }

  .leftmenu { /* Left Side Menu Links */
    background:      rgb(234, 228, 208); /* Sandy */
    color:           black;
    font-size:       8pt;
    vertical-align:  top;
  }

  #menubar {
    color:             #ffffff;
    background-color:  #006b3f;
    font-size:         10pt;
    font-weight:       bold;
    text-align:        center;
    padding:           3px;
    clear:             both;
  }

  #header {
    margin-left:   auto;
    margin-right:  auto;
    width:         100%;
  }

  #centerblock {
    text-align:    center;
    width:         90%;
  }

  a.menubar:link, a.menubar:visited {
    color:             #ffffff;
    background-color:  #006b3f;
    text-decoration:   none;
  }
}
