@media screen,print
{
  a:link {
  }
  
  a:visited {
  }

  a:hover {
  	background:      darkblue;
  	color:           white;
}

  a:active {
  }

  body {
 	background:      white;
	color:           black;
	font-family:     Arial, Helvetica, sans-serif;
	font-style:      normal;
	font-weight:     normal;
	text-decoration: none;
 }

  p.margin 
  {
        margin: 0cm 125px 0cm 160px
        margin: 2cm 4cm 3cm 4cm
  }

  H1
  {
  	font-family: Arial, Helvetica, sans-serif;
  	font-style:  normal;
  	font-weight: bold;
  	color:       #990000;
  	text-align:  center;
  	text-transform: uppercase;
  	text-decoration: none;
  	
  }

  H2
  {
  	font-family: Arial, Helvetica, sans-serif;
  	font-style:  normal;
  	font-weight: normal;
  	color:       #990000;
  	text-decoration: none;
  }

  H3
  {
  	font-family: Arial, Helvetica, sans-serif;
  	font-style:  italic;
  	font-weight: bold;
  	color:       #990000;
  	text-decoration: none;
  }

  TH
  {
  	font-family: Arial, Helvetica, sans-serif;
  	font-style:  normal;
  	font-weight: bold;
  	color:       #006779;
  }

  TD
  {
  	font-family: Arial, Helvetica, sans-serif;
  	font-style:  normal;
  	font-weight: normal;
  	color:       Black;
  }

  DT
  {
        margin-top: 20.0;
  	font-weight: bold;
  	text-decoration: underline;
  }

  /* -------------------------------------------------------- */
  /* Top Menu Bar
  /* -------------------------------------------------------- */

  .common /* Common liks - first line of menu bar             */
  {
	background:      black;
  	color:           white;
  	font-family:     Arial, Helvetica, sans-serif;
  	font-style:      normal;
  	font-size:       8pt;
  	font-weight:     Bold;
  	text-decoration: none;
  }

  .inst /* Institutional Links second & thrid lines of menu bar */
  {
	background:      #006600;
	color:           white;
	font-family:     Arial, Helvetica, sans-serif;
	font-style:      normal;
	font-size:       8pt;
	font-weight:     Bold;
	text-decoration: none;
  }

  /* -------------------------------------------------------- */
  /* Side Menu Bar
  /* -------------------------------------------------------- */

  .leftmenu /* Left Side Menu Links                           */
  {
	background:      lightblue;
	color:           black;
	font-family:     Arial, Helvetica, sans-serif;
	font-style:      normal;
	font-size:       10pt;
	font-weight:     normal;
	text-decoration: none;
	vertical-align:  top;
  }
  .rightmenu /* Right Side Menu Links                         */
  {
	background:      lightblue;
	color:           black;
	font-family:     Arial, Helvetica, sans-serif;
	font-style:      normal;
	font-size:       10pt;
	font-weight:     normal;
	text-decoration: none;
	vertical-align:  top;
  }

#linkspace {
	font-family: Verdana, 'Bitstream Vera Sans' Helvetica, Tahoma, Arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	padding: 3px;
	color: #ffffff;
	background-color: #006b3f;
	clear:both;
}

a.menubar:link {
	text-decoration:none;
	color: #ffffff;
}
  
a.menubar:visited {
	text-decoration:none;
	color: #ffffff;
}

/********** LEFT NAVIGATION MENU **********/
div#left-nav{
	float:left;
	background-color:#eae4d0;
	width:165px;
	margin:5px 25px 5px 5px;
	border:1px solid #9e9272;
	display:inline;
}

ul.nav-list{
	list-style-type:none;
	width:165px;
	margin:0px;
	padding:0px;
	text-align:center;
	background-color:#c8b98f;
	line-height:0em;
}

ul.nav-list-secondary{
	list-style-type:none;
	margin:0px;
	padding:5px;
	text-align:left;
	font:normal .8em/1.4em Verdana, 'Bitstream Vera Sans', Helvetica, Tahoma, Arial, sans-serif;
	background-color:#eae4d0;
}

li.nav-list-secondary{
	padding:5px 0px;
	border-bottom: 1px solid #9e9272;
	margin:0px;
}

li.nav-list-secondary:last-child{
	padding:5px 0px;
	border-bottom: 0px solid #9e9272;
}

div.left-nav-container{ /* For when a tertiary navigation menu is used. */
	width:197px;
	float:left;
}

  /* -------------------------------------------------------- */
  /* Main Text Area                                           */
  /* -------------------------------------------------------- */

  .main /* Main Text Area                                     */
  {
	background:      white;
	color:           black;
	font-family:     Arial, Helvetica, sans-serif;
	font-style:      normal;
	font-size:       10pt;
	font-weight:     normal;
	text-decoration: none;
	vertical-align:  top;
  }

}

@media print
{

  BODY
  {
	color:		black;
        margin: 0cm 0cm 0cm 0cm
  }

  H1, H2, H3, TH, TD
  {
	color:		black;
  }

}
