@media screen,print
{
  a:link {
  }
  
  a:visited {
  }

  a:hover {
  	background:      #00008B; /* DarkBlue */
   	color:           white; 
  }

  a:active {
  }

  body {
	color:		black;
 	background:	white;
	font-family:	Arial, Helvetica, sans-serif;
	font-style:	normal;
	font-weight:	normal;
	text-decoration:	none;
 }

  p.margin 
  {
        margin:		2cm 4cm 3cm 4cm;
  }

  p.center 
  {
  	text-align:	center
  }

  br.center 
  {
  	text-align:	center
  }
  
  h1
  {
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	normal;
  	font-weight:	bold;
  	color:		#A52A2A; /* Brown */
 	background:	white;
	text-align: 	center;
  	text-transform:	uppercase;
  	text-decoration:none;
  	
  }

  h2
  {
  	color:		#A52A2A; /* Brown */
 	background:	white;
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	normal;
  	font-weight:	normal;
  	text-decoration:none;
  }

  h3
  {
  	color:		#A52A2A; /* Brown */
 	background:	white;
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	italic;
  	font-weight:	bold;
  	text-decoration:none;
  }

  th
  {
  	color:		#20B2AA; /* LightSeaGreen */
 	background:	white;
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	normal;
  	font-weight:	bold;
  }

  td
  {
  	color:		black;
 	background:	white;
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	normal;
  	font-weight:	normal;
  }

  DT
  {
        margin-top:	20.0px;
  	font-weight:	bold;
  	text-decoration:none;
  }

  /* -------------------------------------------------------- */
  /* Top Menu Bar
  /* -------------------------------------------------------- */

  .common /* Common liks - first line of menu bar             */
  {
	background:	black;
  	color:		white;
  	font-family:	Arial, Helvetica, sans-serif;
  	font-style:	normal;
  	font-size:	8pt;
	font-weight:	bold;
  	text-decoration:none;
  }

  .inst /* Institutional Links second & thrid lines of menu bar */
  {
	background:	#006600;
	color:		white;
	font-family:	Arial, Helvetica, sans-serif;
	font-style:	normal;
	font-size:	8pt;
	font-weight:	bold;
	text-decoration:none;
  }

  /* -------------------------------------------------------- */
  /* Side Menu Bar
  /* -------------------------------------------------------- */

  .leftmenu /* Left Side Menu Links                           */
  {
	background:	#ADD8E6; /* LightBlue */
	color:		black;
	font-family:	Arial, Helvetica, sans-serif;
	font-style:	normal;
	font-size:	10pt;
	font-weight:	normal;
	text-decoration:none;
	vertical-align:	top;
  }
  .rightmenu /* Right Side Menu Links                         */
  {
	background:	#ADD8E6; /* LightBlue */
	color:		black;
	font-family:	Arial, Helvetica, sans-serif;
	font-style:	normal;
	font-size:	10pt;
	font-weight:	normal;
	text-decoration:none;
	vertical-align:	top;
  }

  #linkspace {
	color:		#ffffff;
	background-color:#006b3f;
  	font-family:	Arial, Helvetica, sans-serif;
	font-size:	10pt;
	font-weight:	bold;
	text-align:	center;
	padding:	3px;
	clear:		both;
  }

  a.menubar:link {
	color:		#ffffff;
	background-color:#006b3f;
	text-decoration:none;
  }
  
  a.menubar:visited {
	color:		#ffffff;
	background-color:#006b3f;
	text-decoration:none;
  }

  /********** LEFT NAVIGATION MENU **********/
  div#left-nav{
	color:		black;
	background-color:#eae4d0;
	float:		left;
	width:		165px;
	margin:		5px 25px 5px 5px;
	border:		1px solid #9e9272;
	display:	inline;
  }

  ul.nav-list{
	color:		black;
	background-color:#c8b98f;
	list-style-type:none;
	width:		165px;
	margin:		0px;
	padding:	0px;
	text-align:	center;
	line-height:	0em;
  }

  ul.nav-list-secondary{
	color:		black;
	background-color:#eae4d0;
	list-style-type:none;
	margin:		0px;
	padding:	5px;
	text-align:	left;
	font:		normal .8em/1.4em Verdana, 'Bitstream Vera Sans', Helvetica, Tahoma, Arial, sans-serif;
  }

  li.nav-list-secondary{
	padding:	5px 0px;
	border-bottom:	1px solid #9e9272;
	margin:		0px;
  }

  li.nav-list-secondary:last-child{
	padding:	5px 0px;
	border-bottom:	0px solid #9e9272;
  }

  div.left-nav-container{ /* For when a tertiary navigation menu is used. */
	width:		197px;
	float:		left;
  }

  /* -------------------------------------------------------- */
  /* Main Text Area                                           */
  /* -------------------------------------------------------- */

  .main /* Main Text Area                                     */
  {
	background:	white;
	color:		black;
	font-family:	Arial, Helvetica, sans-serif;
	font-style:	normal;
	font-size:	10pt;
	font-weight:	normal;
	text-decoration:none;
	vertical-align:	top;
  }

}

@media print
{

  body
  {
	color:		black;
 	background:	white;
        margin: 	0cm 0cm 0cm 0cm;
  }

  h1, h2, h3, th, td
  {
	color:		black;
 	background:	white;
  }

}
